@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  -moz-appearance: textfield;
       appearance: textfield;
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
  -moz-appearance: button;
       appearance: button;
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
  appearance: none;
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

html {
  font-size: 62.5%;
}

body {
  background: white;
  min-width: 320px;
  width: 100%;
  height: auto;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style-type: none;
}

.l-header {
  width: 100%;
  height: 217px;
  background-color: #FFF7EF;
}

.l-main {
  width: 100%;
  height: auto;
  background-color: #FFFDFA;
}

.l-sidebar {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 1250px) {
  .l-sidebar {
    position: static;
    width: 20%;
    height: auto;
  }
}

.l-footer {
  width: 100%;
  height: 150px;
  background-image: url(../../../images/footer-bg.jpg);
  background-position: center;
  background-repeat: repeat;
}

.c-line {
  background-color: white;
  height: 4px;
}

.c-heading--roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.c-heading--notosans {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

.c-copyright {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4rem;
}

.c-search {
  width: 85%;
  height: 46px;
  max-width: 490px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media (min-width: 750px) {
  .c-search {
    width: 65%;
    max-width: 645px;
  }
}
@media (min-width: 1250px) {
  .c-search {
    margin: 0;
    width: 36%;
  }
}
.c-search__box {
  width: 68%;
  margin-right: 3.8%;
  background-color: white;
  border: solid 1px #707070;
  border-radius: 10px;
  background-image: url(../../../images/rupe.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 5px center;
  padding-left: 35px;
}
.c-search__btn {
  width: auto;
  flex-grow: 1;
  background: linear-gradient(to right, #DED8D3, #F2EDE9);
  border: solid 1px #707070;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #707070;
}

.c-close-btn {
  width: 40px;
  height: 40px;
}
.c-close-btn span {
  font-size: 0;
  display: block;
  width: 45px;
  height: 6px;
  background-color: #707070;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.c-close-btn span::after {
  content: "";
  width: 45px;
  height: 6px;
  background-color: #707070;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
}

.p-content-wrap {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.p-content {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 750px) {
  .p-content {
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
    margin-top: 20px;
  }
}
@media (min-width: 1250px) {
  .p-content {
    margin-top: 50px;
    margin-bottom: 70px;
  }
}

.p-description-wrap {
  width: 100%;
  height: auto;
  padding: 16px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.p-description {
  width: 100%;
  height: auto;
  padding: 16px;
  margin-top: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}
.p-description .description__list {
  font-family: "Noto Sans", sans-serif;
  color: #3C2A10;
}
.p-description .description__list dt {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 8px;
}
@media (min-width: 1250px) {
  .p-description .description__list dt {
    font-size: 2.4rem;
  }
}
.p-description .description__list dd {
  line-height: 1.5;
}

.p-header {
  width: 100%;
  height: 100%;
  color: #707070;
  position: relative;
  z-index: 8;
}
@media (min-width: 1250px) {
  .p-header {
    width: 93%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.p-header .header__heading {
  font-size: 4rem;
  text-align: center;
  padding: 40px 0 40px 0;
}
@media (min-width: 1250px) {
  .p-header .header__heading {
    font-size: 6.4rem;
    padding: 0;
  }
}
.p-header .menu-btn {
  font-size: 2rem;
  color: inherit;
  position: absolute;
  top: 8px;
  right: 8px;
}
@media (min-width: 750px) {
  .p-header .menu-btn {
    font-size: 3.4rem;
  }
}
@media (min-width: 1250px) {
  .p-header .menu-btn {
    display: none;
  }
}

.p-main-visual {
  width: 100%;
  height: 285px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1250px) {
  .p-main-visual {
    height: 530px;
  }
}
.p-main-visual .main-visual__img {
  width: 100%;
  height: 100%;
  min-height: 285px;
  min-width: 375px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-main-visual .main-visual__img .main-visual__img--sp {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (min-width: 750px) {
  .p-main-visual .main-visual__img .main-visual__img--sp {
    display: none;
  }
}
.p-main-visual .main-visual__img .main-visual__img--pc {
  display: none;
}
@media (min-width: 750px) {
  .p-main-visual .main-visual__img .main-visual__img--pc {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.p-main-visual .main-visual__heading {
  font-size: 3.6rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 8.7%;
  transform: translate(0, -50%);
}

.p-service--takeout, .p-service--eatin {
  width: 100%;
  height: auto;
  min-height: 642px;
  margin-top: 20px;
  background-image: url(../../../images/service-content-takeout.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  position: relative;
}
@media (min-width: 750px) {
  .p-service--takeout, .p-service--eatin {
    width: 47%;
    min-height: 680px;
  }
}
@media (min-width: 1250px) {
  .p-service--takeout, .p-service--eatin {
    min-height: 1000px;
  }
}

.p-service--eatin {
  background-image: url(../../../images/service-content-eatin.jpg);
}

.p-service__title {
  position: absolute;
  top: 2%;
  left: 4.5%;
  display: flex;
  flex-direction: column;
}
.p-service__title .service__title__label {
  color: white;
  font-size: 4.1rem;
}
@media (min-width: 750px) {
  .p-service__title .service__title__label {
    font-size: 4.4rem;
  }
}
@media (min-width: 1250px) {
  .p-service__title .service__title__label {
    font-size: 8rem;
  }
}
.p-service__title .c-line {
  width: 34px;
  margin-top: 20px;
}
@media (min-width: 750px) {
  .p-service__title .c-line {
    width: 36px;
  }
}
@media (min-width: 1250px) {
  .p-service__title .c-line {
    width: 63px;
  }
}

.p-access {
  width: 100%;
  height: auto;
  min-height: 690px;
  margin-top: 49px;
  display: flex;
  align-items: flex-start;
  position: relative;
}
@media (min-width: 750px) {
  .p-access {
    min-height: 415px;
  }
}
@media (min-width: 1250px) {
  .p-access {
    min-height: 650px;
  }
}
.p-access .access__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  z-index: 2;
}
.p-access .overlay--all {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.p-access .overlay--half {
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
@media (min-width: 750px) {
  .p-access .overlay--half {
    height: 100%;
  }
}
@media (min-width: 1250px) {
  .p-access .overlay--half {
    width: 60%;
  }
}

.p-access__text {
  width: 100%;
  height: auto;
  padding: 40px 12%;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
@media (min-width: 1250px) {
  .p-access__text {
    width: 60%;
  }
}
.p-access__text .access__text__title {
  font-size: 3rem;
}
@media (min-width: 1250px) {
  .p-access__text .access__text__title {
    font-size: 3.6rem;
    margin-top: 46px;
  }
}
.p-access__text .c-line {
  width: 75px;
  height: 2px;
  margin-top: 20px;
}
@media (min-width: 1250px) {
  .p-access__text .c-line {
    margin-top: 50px;
  }
}
.p-access__text p {
  font-size: 1.4rem;
  line-height: 2;
  margin-top: 14px;
}
@media (min-width: 1250px) {
  .p-access__text p {
    font-size: 1.6rem;
    margin-top: 58px;
  }
}

.p-footer {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
}
.p-footer .footer__nav {
  padding-top: 16px;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-footer .footer__nav__vertical-line {
  display: inline-block;
  height: 18px;
  border-left: 2px solid white;
  margin: 0 10px;
}
@media (min-width: 750px) {
  .p-footer .footer__nav {
    padding-top: 30px;
    font-size: 2rem;
  }
}
@media (min-width: 1250px) {
  .p-footer .footer__nav {
    padding-top: 40px;
  }
}
.p-footer .c-copyright {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (min-width: 750px) {
  .p-footer .c-copyright {
    bottom: 26px;
  }
}

.p-sidebar {
  width: 80%;
  height: 100%;
  padding-top: 90px;
  color: #707070;
  background-color: #F2EDE9;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 10;
}
@media (min-width: 750px) {
  .p-sidebar {
    width: 45%;
  }
}
@media (min-width: 1250px) {
  .p-sidebar {
    position: static;
    width: 100%;
    left: 0;
  }
}
.p-sidebar .c-close-btn {
  position: absolute;
  top: 10px;
  right: 5%;
}
@media (min-width: 1250px) {
  .p-sidebar .c-close-btn {
    display: none;
  }
}
.p-sidebar .sidebar__title {
  font-size: 3.4rem;
  margin-left: 12.5%;
}

.p-sidebar__nav {
  width: 100%;
  padding-top: 90px;
  padding-left: 12.5%;
}
.p-sidebar__nav .sidebar__nav__list {
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
}
.p-sidebar__nav .sidebar__nav__list .sidebar__nav__list__item {
  font-size: 2rem;
  font-weight: 400;
  padding: 35px 0 50px 20px;
  line-height: 5rem;
  display: flex;
  flex-direction: column;
}

.p-wrapper {
  width: 100%;
  height: auto;
  position: relative;
}
@media (min-width: 1250px) {
  .p-wrapper {
    display: flex;
  }
}
.p-wrapper .wrapper__main {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}
@media (min-width: 1250px) {
  .p-wrapper .wrapper__main {
    width: 80%;
  }
}

.p-sidebar__bg {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  visibility: hidden;
}

.u-open {
  right: 0;
  transition: right 0.3s;
}

.u-overlay {
  visibility: visible;
  opacity: 0.5;
  transition: opacity 0.5s;
}
/*# sourceMappingURL=style.css.map */