@charset "UTF-8";
@use "../../foundation/variables" as var;


.c-footer__list {
    padding-top: 16px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__vertical-line {
        display: inline-block;
        height: 18px;
        border-left: 2px solid #ffff;
        margin: 0 10px;
    }
}