@charset "UTF-8";


.c-heading--roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.c-heading--notosans {
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}