@charset "UTF-8";
@use "../../foundation/variables" as var;


.c-search-box {
    width: 68%;
    margin-right: 3.8%;
    background-color: #ffff;
    border: solid 1px var.$gray;
    border-radius: 10px;
    background-image: url(../../../images/rupe.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 5px center;
    padding-left: 40px;
    font-weight: 700;
}