@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-access__text {
    width: 100%;
    height: auto;
    padding: 40px 12%;
    color: #ffff;
    display: flex;
    flex-direction: column;
    z-index: 3;

    @include var.breakpoint(pc) {
        width: 60%;
    }

    .access__text__title {
        font-size: 3.0rem;

        @include var.breakpoint(pc) {
            font-size: 3.6rem;
            margin-top: 46px;
        }
    }

    .c-line {
        width: 75px;
        height: 2px;
        margin-top: 20px;

        @include var.breakpoint(pc) {
            margin-top: 50px;
        }
    }
    
    p {
        font-size: 1.4rem;
        line-height: 2.0;
        margin-top: 14px;

        @include var.breakpoint(pc) {
            font-size: 1.6rem;
            margin-top: 58px;
        }
    }
}