@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-archive__main-visual {
    width: 100%;
    height: 285px;
    position: relative;
    overflow: hidden;

    @include var.breakpoint(pc) {
        height: 239px;
    }
    
    .main-visual__img {
        width: 100%;
        height: 100%;
        min-height: 285px;
        min-width: 375px;
        position: absolute;
        top: 0; //50%
        left: 0; //50%
        //transform: translate(-50%,-50%);

        background-color: black;

        .main-visual__img--sp {
            object-fit: cover;
            object-position: 0; //add
            width: 100%;
            height: 100%;
            opacity: 0.5; //add

            @include var.breakpoint(pc) { //tablet
                display: none;
            }
        }

        .main-visual__img--pc {
            display: none;

            @include var.breakpoint(pc) { //tablet
                display: block;
                object-fit: cover;
                width: 100%;
                height: 100%;
                opacity: 0.5; //add
            }
        }
    }

    .main-visual__title{
        color: #ffff;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 8.7%;
        transform: translate(0,-50%);

        @include var.breakpoint(tablet) {
            flex-direction: row;
            align-items: center;
        }

        h1 {
            font-size: 3.6rem;
            line-height: 2;
            margin-right: 20px;

            @include var.breakpoint(tablet) {
                font-size: 6.0rem;
            }

            p {
                font-size: 1.6rem;
            }
        }
    }
}