@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-archive__title {
    width: 90%;
    margin: 32px auto 0 auto;
    @include var.breakpoint(tablet) {
        margin-top: 39px;
    }
    @include var.breakpoint(pc) {
        margin-top: 63px;
    }

    h2 {      
        color: var.$brown_txt;
        @include var.breakpoint(tablet) {
            font-size: 3.6rem;
        }
    }

    h2+p {
        font-weight: 400;
        margin-top: 29px;
        color: var.$brown_txt;
        @include var.breakpoint(tablet) {
            margin-top: 60px;
        }
    }
}