@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-blockquote {
    width: 90%;
    background-color: #f5f5f5;
    padding: 30px 5%;
    margin: 30px auto;

    @include var.breakpoint(tablet) {
        margin-top: 60px;
    }

    p { //blockquote
        width: 100%;
        height: auto;
    }

    cite { //p
        margin-top: 30px;

        a { //span
            color: #4A6C9B;
            border-bottom: 1px solid #4A6C9B;
        }
    }
}