@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-content {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include var.breakpoint(tablet) {
        flex-direction: row;
        justify-content: space-between;
        max-width: none;
        margin-top: 20px;
    }
    @include var.breakpoint(pc) {
        margin-top: 50px;
        margin-bottom: 70px;
    }
}