@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-main-visual {
    width: 100%;
    height: 285px;
    position: relative;
    overflow: hidden;

    @include var.breakpoint(pc) {
        height: 530px;
    }

    .main-visual__img {
        width: 100%;
        min-height: 285px;
        min-width: 375px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .main-visual__heading {
        font-size: 3.6rem;
        color: #ffff;
        position: absolute;
        top: 50%;
        left: 8.7%;
        transform: translate(0,-50%);
    }
}