@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-page__others__lists-wrap {
    margin-top: 13px;
    padding-left: 5%;

    .others__lists {

        .others__lists__item {
            margin-bottom: 20px;
        }

        .others__lists__item:nth-child(2n) {
            padding-left: 18px;
        }
    }

    .others__lists:last-child {
        margin-top: 60px;
    }

    @include var.breakpoint(tablet) {
        margin-top: 40px;
    }
}


.p-page__others__source {
    width: 90%;
    height: 237px;
    margin: 30px auto;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    //line-height: 0.7;

    @include var.breakpoint(tablet) {
        margin-top: 60px;
    }

    pre {
        padding-left: 50px;
        white-space: pre-line;
    }
}


.p-page__others__table {
    width: 100%;

    table {
        width: 90%;
        margin: 0 auto;
        color: var.$brown_txt;
        background-color: #ffff;
        border: 1px solid var.$gray;
        border-collapse: collapse;

        @include var.breakpoint(tablet) {
            margin-top: 60px;
        }

        tr {
            width: 100%;
            height: 77px;
        }

        td {
            border: 1px solid var.$gray;
        }

        .col1 {
            width: 40%;
            padding-left: 7%;
        }
        .col2 {
            width: 60%;
            padding-left: 9%;
        }
    }
}


.p-page__others__btn {
    width: 100%;
    
    a {
        display: block;
        width: 90%;
        max-width: 429px;
        height: 81px;
        margin-left: 5%;
        margin-top: 60px;
        background: linear-gradient(to left, #DED8D3, #F2EDE9);
        text-align: center;
        line-height: 81px;

        @include var.breakpoint(tablet) {
            height: 104px;
            line-height: 104px;

        }
    }

    p {
        margin: 30px 0 70px 5%;

        @include var.breakpoint(tablet) {
            margin-top: 60px;
            margin-bottom: 150px;
        }
        @include var.breakpoint(pc) {
            margin-bottom: 276px;
        }
    }
}