@charset "UTF-8";
@use "../../foundation/variables" as var;

//サイドバーの背景
.p-sidebar__bg {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    visibility: hidden;
}