@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-single__others__table {
    width: 100%;

    .has-fixed-layout { //<table>要素
        width: 90%;
        margin: 0 auto;
        color: var.$brown_txt;
        background-color: #ffff;
        border: 1px solid var.$gray;
        border-collapse: collapse;

        @include var.breakpoint(tablet) {
            margin-top: 30px;
        }

        tr {
            width: 100%;
            height: 77px;

            td {
                border: 1px solid var.$gray;
                padding-left: 6%;
            }
            td:nth-child(1) {
                width: 40%;
            }
        }
    }
}