@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-single__others__btn {
    width: 100%;
    
    a {
        display: block;
        width: 90%;
        max-width: 429px;
        height: 81px;
        margin-left: 5%;
        margin-top: 60px;
        background: linear-gradient(to left, #DED8D3, #F2EDE9);
        text-align: center;
        line-height: 81px;

        @include var.breakpoint(tablet) {
            height: 104px;
            line-height: 104px;

        }
    }

    p {
        margin: 30px 0 70px 5%;

        @include var.breakpoint(tablet) {
            margin-top: 60px;
            margin-bottom: 150px;
        }
        @include var.breakpoint(pc) {
            margin-bottom: 276px;
        }
    }
}