@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-single__photo-list {
    width: 90%;
    height: auto;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
   
    @include var.breakpoint(tablet) {
        margin-top: 60px;
    }

    .photo-top {
        width: 70%;
        align-self: center;

        @include var.breakpoint(tablet) {
            width: 580px;
        }

        img {
            width: 100%;
        }
    }

    .photo-set {
        margin-top: 30px;

        @include var.breakpoint(tablet) {
            margin-top: 240px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include var.breakpoint(pc) {
            margin-top: 60px;
        }

        img {
            width: 100%;
            margin-bottom: 20px;

            @include var.breakpoint(tablet) {
                width: 49%;
            }
            @include var.breakpoint(pc) {
                width: 32.5%;
            }
        }
    }
}