@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-single__product {
    width: 100%;

    .wp-block-group__inner-container {
        width: 90%;
        height: auto;
        margin: 0 auto;

        @include var.breakpoint(tablet) {
            margin-top: 60px;
        }

        .product__content__img figure { 
            display: block;
            width: 100%;
            height: 124px;

            @include var.breakpoint(tablet) {
                height: 264px;
            }
            @include var.breakpoint(pc) {
                height: 500px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 0 85%;
            }
        }

        .product__content__item-wrap {
            width: 100%;
            height: auto;
        
            .wp-block-group__inner-container {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
            
                .wp-block-media-text {
                    width: 100%;
                    height: auto;
                    min-height: 176px;
                    margin-top: 30px;
                    display: flex;

                    @include var.breakpoint(tablet) {
                        margin-top: 60px;
                    }

                    figure{
                        width: 45%;
                        align-self: flex-start;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            object-position: top;
                        }
                    }

                    .wp-block-media-text__content {
                        width: 55%;
                        padding: 0;
                        align-self: flex-start;
                        p {
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }
}