@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-single__others__lists-wrap {
    margin-top: 13px;
    padding-left: 5%;

    .others__lists {

        .others__lists__item {
            margin-bottom: 20px;
        }

        .others__lists__item:nth-child(2n) {
            padding-left: 18px;
        }
    }

    .others__lists:last-child {
        margin-top: 60px;
    }

    @include var.breakpoint(tablet) {
        margin-top: 40px;
    }
}