@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-wrapper {    //サイドバーも包容
    width: 100%;
    height: auto;
    position: relative;

    @include var.breakpoint(pc) {  //pc画面でサイドバーを横並びにする
        display: flex;
    }

    .wrapper__main {  //ヘッダーとメインコンテンツを包容
        display: flex;
        flex-direction: column;
        height: auto;

        @include var.breakpoint(pc) {
            width: 80%;
        }
    }
}