@charset "UTF-8";
@use "../foundation/variables" as var;


.l-sidebar {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    
    @include var.breakpoint(pc) {
        position: static;
        width: 20%;
        height: auto;
    }
}